.all-team-content {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 500px) {
  .all-team-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .all-team-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1050px) {
  .all-team-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
