.header {
  width: calc(100% + 30px);
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #1d428a;
  color: #fff;
}

@media screen and (min-width: 1018px) {
  .header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header__link {
  color: #fff;
  text-decoration: underline;
  margin-right: 15px;
}
.header__link:hover {
  text-decoration: none;
}
