.header {
  width: 100%;
  padding: 10px;
  background-color: #1d428a;
  color: #fff;
}
.header__link {
  color: #fff;
  text-decoration: underline;
  margin-right: 15px;
}
.header__link:hover {
  text-decoration: none;
}
