.footer {
  width: calc(100% + 30px);
  height: 40px;
  padding: 10px;
  background-color: #1d428a;
  color: #fff;
  margin-top: auto;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (min-width: 1018px) {
  .footer {
    width: 100%;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
